<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Login</title>
</head>
<body>
<div class="auth-container">
  <h2>Login</h2>

  {% if error %}
    <div class="error-box">{{ error }}</div>
  {% endif %}

  <form method="POST">
    <input type="text" name="email" placeholder="Login" value="{{ request.form.email }}">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Login">
  </form>

  <a href="/register">Don't have an account? Register</a>
</div>
</body>
</html>
