<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Login</title>
</head>
<body>
<div class="auth-container">
  <h2>Login</h2>

  {% if error %}
    <div class="error-box">{{ error }}</div>
  {% endif %}

  <form method="POST">
    <input type="text" name="email" placeholder="Name" value="{{ request.form.email }}">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Login">
  </form>

  <a href="/register" style="display: inline-block; margin-bottom: 1rem;">
    Don't have an account? Register
  </a>
  <div class="login-instructions">
  <h2>Aplikacja do kreatora zamówień UPS</h2>
  <p>
    Zaloguj się, aby uzyskać dostęp do panelu zarządzania przesyłkami UPS. Po zalogowaniu będzie można wprowadzać dane przesyłek, generować pliki CSV/XLSX zgodne z wymaganiami UPS.
  </p>
  <h3>Instrukcje:</h3>
  <ul>
    <li>Do utworzenia konta wystarczy wpisać imię i hasło w opcji "Register" .</li>
    <li>Po zalogowaniu zarejestrowanym imieniem i hasłem uzupełnij formularz danymi przesyłki.</li>
    <li>Możesz dodać wiele przesyłek przed zapisaniem pliku XLSX/CSV.</li>
    <li>Niektóre pola są wymagane – aplikacja poinformuje o ewentualnych brakach.</li>
    <li>W razie problemów skontaktuj się: tadeusz.pelczar@chespa.eu.</li>
  </ul>
</div>
</div>
</body>
</html>
